# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
/[Bb]in/
#[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
#user generated/changed files
.vscode/
# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

# Ignore Loongson main build folders (build, build-no-ncnn, build-verify, etc.)
/Loongson_2K300_301_LIB/main/build*/
/Loongson_2K300_301_LIB/main/build/
/Loongson_2K300_301_LIB/main/toolchain_path.cmake
